.main_container {
  direction: rtl;
}

.q_title {
  width: 100%;
  float: right;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
  padding-bottom: 10px;
}

.q_tag {
  text-decoration: none;
  color: black;
  background-color: #cccccc;
  float: right;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 4px;
  padding: 2px 4px;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}

.q_tag:hover {
  background-color: #eeeeee;
}

.row {
  margin-top: 20px;
}
