.q_title {
  width: 100%;
  float: right;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
  padding-bottom: 10px;
}

.score_stuff {
  font-size: 22px;
}

.score_wrapper {
  padding: 0;
}

.answer_footer {
  font-size: 15px;
}

.tag_badge {
  font-size: 10px;
  padding: 10px;
}

@media (min-width: 544px) {
  .main_text {
    font-size: 16px;
    line-height: 29px;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .main_text {
    font-size: 17px;
    line-height: 31px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main_text {
    font-size: 18px;
    line-height: 33px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main_text {
    font-size: 19;
    line-height: 35px;
  }
}
