{% extends 'user/user-base.html' %}
{% load static %}
{% load jalali_tags %}
{% block user-info %}
<link rel="stylesheet" type="text/css" href={% static 'user/profile.css' %}>
    <div class="user-profile-info">
        <img class="user-p-image" src="{{ user.avatar.url }}" alt="user_profile_image">
        <div class="name-and-bio">
            <h2>{{ user.name }}</h2>
            <p>{{ user.bio }}</p>
        </div>
        <div class="score">
            <p><img src="static/media/static/images/score-icon.png"> : {{ user.score }}</p>
            <p style="color: #003eff">{{ user.email }}</p>
            <p>زمان عضویت: {{ user.date_joined|to_jalali:'%d %B %y' }}</p>
        </div>
    </div>
{% endblock %}