{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'common/custom_form.css' %}>
<div class="container form_container">
    <form action="{% url 'user:signup' %}" method="POST" class="rtl_text">
        {% csrf_token %}
        <div class="row justify-content-end">
            <div class="col-6">
                {{form.name|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.email|as_crispy_field}}
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-6">
                {{form.password1|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.password2|as_crispy_field}}
            </div>
        </div>
        <div class="col col-3">
            <button class="btn btn-success">ثبت نام</button>
        </div>
    </form>
</div>
{% endblock %}