{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'common/custom_form.css' %}>
<div class="container form_container">
    <form action="{% url 'user:signin' %}" method="POST" class="rtl_text">
        {% csrf_token %}
        <div class="row justify-content-end">
            <div class="col-6">
                {{ form.email | as_crispy_field }}
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-6">
                {{ form.password | as_crispy_field}}
            </div>
        </div>
        <div class="col col-3 justify-content-end">
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <button class="btn btn-success">ورود</button>
        </div>
    </form>
</div>
{% endblock %}