{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'common/custom_form.css' %}>
<div class="container form_container">
    <form action="{% url 'user:edit' %}" method="POST" class="rtl_text">
        {% csrf_token %}
        <div class="row justify-content-end">
            <div class="col-6">
                {{form.name|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.email|as_crispy_field}}
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-6">
                {{ form.bio |as_crispy_field}}
            </div>
            <div class="col-6">
                <div id="div_id_avatar" class="form-group">

            <label for="id_avatar" class=" requiredField">
                تغییر عکس<span class="asteriskField">*</span>
            </label>
                <div class="">
                <input type="file" name="avatar" accept="image/*" class="clearablefileinput form-control-file" id="id_avatar">
                </div>
    </div>
            </div>
        </div>
        <div class="col col-3 justify-content-end">
            <button class="btn btn-success" formaction="{% url 'user:changepass' %}" style="background: gray; margin: 5px">تغییر رمز عبور</button>
        </div>
        <div class="col col-3 justify-content-end">
            <button class="btn btn-success">ویرایش اطلاعات</button>
        </div>
    </form>
</div>
{% endblock %}

