@font-face {
  font-family: 'BBadr';
  src: url("../fonts/BBadr.e8ae5adc730a.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BBadr.ae12f7af23a3.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BBadr.e3429be274c2.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BBaran';
  src: url("../fonts/BBaran.003574286a7c.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BBaran.5fc9646bfcf0.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BBaran.65ae7e308972.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BBardiya';
  src: url("../fonts/BBardiya.8879e0f2101f.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BBardiya.9fa573dc144e.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BBardiya.5fd685bc8f45.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BCompset';
  src: url("../fonts/BCompset.86a68404aeba.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BCompset.38903b4fd3fe.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BCompset.e5379bcfec2c.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BDavat';
  src: url("../fonts/BDavat.333bec29a5e1.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BDavat.91b0844027f5.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BDavat.175cb831143c.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BElham';
  src: url("../fonts/BElham.a8a895d14c57.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BElham.137991346fe6.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BElham.0e61547039d7.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BEsfehanBold';
  src: url("../fonts/BEsfehanBold.f983307d06c0.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BEsfehanBold.358a1e8bfda2.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BEsfehanBold.07b409f924f3.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BFantezy';
  src: url("../fonts/BFantezy.7d28958c373f.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BFantezy.1fc0165dbe77.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BFantezy.648e4a16ee10.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BFarnaz';
  src: url("../fonts/BFarnaz.fbdb5439473c.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BFarnaz.401c161e0191.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BFarnaz.9db8469c52e0.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BFerdosi';
  src: url("../fonts/BFerdosi.9009dd2d8a69.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BFerdosi.907537763e84.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BFerdosi.31d4e4a46b6e.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BHamid';
  src: url("../fonts/BHamid.99f0cfc0e7d5.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BHamid.1850c834efe5.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BHamid.0e39424f8ff4.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BHelal';
  src: url("../fonts/BHelal.801e2f89f331.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BHelal.ff13049d46be.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BHelal.ede55135fedb.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BHoma';
  src: url("../fonts/BHoma.54c870c132fe.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BHoma.bc8457fc9518.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BHoma.ceb2126877e1.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BJadidBold';
  src: url("../fonts/BJadidBold.710e779afed1.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BJadidBold.d849c70752db.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BJadidBold.0169604e3538.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BJalal';
  src: url("../fonts/BJalal.26f628023b8c.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BJalal.737f81842a4b.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BJalal.3457494dc9c7.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BKoodakBold';
  src: url("../fonts/BKoodakBold.ed831645c6fc.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BKoodakBold.287f5740e192.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BKoodakBold.dfa43496eff6.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BKourosh';
  src: url("../fonts/BKourosh.a186f4fef56f.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BKourosh.93ff7d2a8eee.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BKourosh.19b365d0d76e.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BLotus';
  src: url("../fonts/BLotus.2026f0a6bc09.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BLotus.63b0d48a7f2a.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BLotus.cddf76352dd2.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BMahsa';
  src: url("../fonts/BMahsa.ca340e5bb835.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BMahsa.4ce2cc9e9651.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BMahsa.4212144d79a3.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BMehrBold';
  src: url("../fonts/BMehrBold.6464b78b3f1c.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BMehrBold.ca1ebd4dc610.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BMehrBold.6ba53acd0709.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BMitra';
  src: url("../fonts/BMitra.5b019652a37f.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BMitra.53e01c6fd50f.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BMitra.b7ba07f47b99.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BMorvarid';
  src: url("../fonts/BMorvarid.8574a28539c9.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BMorvarid.d01070a79fe0.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BMorvarid.4ab43393d265.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BNarm';
  src: url("../fonts/BNarm.875c7d30f95a.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BNarm.c1831fd72c6e.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BNarm.da6b80c56fc8.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BNasimBold';
  src: url("../fonts/BNasimBold.5e24f6837a35.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BNasimBold.a3fb55b0e0ed.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BNasimBold.d9de79b33cc4.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BNazanin';
  src: url("../fonts/BNazanin.0b8a8ba4fa3c.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BNazanin.e074f827d025.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BNazanin.b63036ac4c35.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BRoya';
  src: url("../fonts/BRoya.bddf9b414b14.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BRoya.509f14290a92.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BRoya.08a275871fc1.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BSetarehBold';
  src: url("../fonts/BSetarehBold.1ca2b7e39e26.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BSetarehBold.a2d79da0075e.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BSetarehBold.0080bf6e3841.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BShiraz';
  src: url("../fonts/BShiraz.581b8ffbfbfc.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BShiraz.e2889321b604.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BShiraz.052b08b74d70.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BSinaBold';
  src: url("../fonts/BSinaBold.b198a6f8723d.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BSinaBold.2743da46be52.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BSinaBold.88da7b052418.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BTabassom';
  src: url("../fonts/BTabassom.28c799506f8e.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BTabassom.818f55028908.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BTabassom.35d1c019266f.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BTehran';
  src: url("../fonts/BTehran.618955aae95b.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BTehran.8144f2279acb.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BTehran.ed264bba9e4b.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BTitrBold';
  src: url("../fonts/BTitrBold.f76cb2a447b9.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BTitrBold.1e209da70081.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BTitrBold.65187b1da7ed.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BTitrTGEBold';
  src: url("../fonts/BTitrTGEBold.130a8af8a1ae.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BTitrTGEBold.e22c2100ee30.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BTitrTGEBold.4773db9d665d.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BTraffic';
  src: url("../fonts/BTraffic.96ed10d44825.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BTraffic.1fb06b8ade41.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BTraffic.6b706b13b4b0.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BVahidBold';
  src: url("../fonts/BVahidBold.d53d6823dd80.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BVahidBold.009dd7f7c355.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BVahidBold.ee4ed7f3d289.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BYagut';
  src: url("../fonts/BYagut.286cdefa312a.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BYagut.f7c9fe093f3c.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BYagut.c96790f5faac.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BYas';
  src: url("../fonts/BYas.d4c73ea79328.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BYas.b00ae897628c.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BYas.e07aacd5cc9a.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BYekan';
  src: url("../fonts/BYekan.7449863a7fc4.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BYekan.d7b709263103.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BYekan.0fddb75cc4ba.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BZar';
  src: url("../fonts/BZar.217a7d00886d.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BZar.bebb3ac3f605.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BZar.ee5ba220f3e2.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BZiba';
  src: url("../fonts/BZiba.11827b017646.eot") format('eot'),  /* IE6–8 */
       url("../fonts/BZiba.646df2bb425a.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/BZiba.438303636139.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'IranianSans';
  src: url("../fonts/IranianSans.e7222abae01b.eot") format('eot'),  /* IE6–8 */
       url("../fonts/IranianSans.a0c341660940.woff") format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url("../fonts/IranianSans.e20972aee711.ttf") format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
