.q_wrapper {
  border-bottom: solid 1px rgb(190, 190, 190);
}

.q_stat {
  background-color: orange;
  float: right;
  border-radius: 5px;
  width: 80px;
  height: 65px;
  padding: 5px;
  text-align: center;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.q_title {
  float: right;
  text-align: right;
}

.q_details {
  direction: rtl;
  float: right;
  text-align: right;
}
