.user_name {
  width: 400px;
  float: right;
}

.user_image {
  box-shadow: 4px 4px 10px -3px #888888;
  width: 134px;
  height: 134px;
  background-color: white;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.info_wrapper {
  text-align: right;
  direction: rtl;
}