.user-profile-info{
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
.user-p-image{
    float: right;
    width: 150px;
    height: 150px;
}
.name-and-bio{
    float: right;
    padding-top: 20px;
    padding-right: 50px;
}
.name-and-bio h2{
    text-align: right;
}
.name-and-bio p{
    text-align: right;
    color: #003eff;
}
.score{
    float: left;
    padding-top: 20px;
    padding-left: 50px;
}
