{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>پاسکال</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'base.css' %}>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default fixed-top navbar-expand-lg bg-light shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Paskal</a>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold"
                            href="{% url 'user:profile' id=user.id %}">
                            {% if user.name %}
                            {{ user.name }}
                            {% else %}
                            {{ user.email }}
                            {% endif %}
                            </a>
                    </li>
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="{% url 'user:signout' %}">خروج</a>
                    </li>
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" dir="rtl"> {{ user.score }} امتیاز</a>
                    </li>
                    {% else %}
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="{% url 'user:signin' %}">ورود</a>
                    </li>
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="{% url 'user:signup' %}">ثبت‌نام</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="row main_content_wrapper">
            <div class="col col-lg-10 col-md-8 col-sm-8">
                {% block content %} {% endblock content %}
            </div>
            <div class="col col-lg-2 col-md-4 col-sm-4 main_row">
                <div class="center_text">
                    <a class="list-group-item list-group-item-action border-light"
                        href="{% url 'action:question-list' %}">پرسش‌ها</a>
                    <a class="list-group-item list-group-item-action border-light"
                        href="{% url 'action:question-create' %}">!سوال جدید دارم</a>
                    <a class="list-group-item list-group-item-action border-light"
                        href="{% url 'action:question-list' %}">پرسش‌ها</a>
                    <a class="list-group-item list-group-item-action border-light"
                        href="{% url 'action:question-list' %}">پرسش‌ها</a>
                </div>
            </div>
        </div>
        <footer class="footer col-8">
            <p class="text-dark">Copyright &copy; SAD-7-GROUP</p>
        </footer>
    </div>
    {% block js_code %}{% endblock %}
</body>

</html>