{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>پاسکال</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'base.css' %}>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Paskal</a>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item text-black">
                    <a class="nav-link text-black font-weight-bold"
                        href="{% url 'user:profile' id=user.id %}">{{ user.name }}</a>
                </li>
                <li class="nav-item text-black">
                    <a class="nav-link text-black font-weight-bold" href="{% url 'user:signout' %}">خروج</a>
                </li>
                <li class="nav-item text-black">
                    <a class="nav-link text-black font-weight-bold" dir="rtl"> {{ user.score }} امتیاز</a>
                </li>
                {% else %}
                <li class="nav-item text-black">
                    <a class="nav-link text-black font-weight-bold" href="{% url 'user:signin' %}">ورود</a>
                </li>
                <li class="nav-item text-black">
                    <a class="nav-link text-black font-weight-bold" href="{% url 'user:signup' %}">ثبت‌نام</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="rightbox">
        <nav>
            <ul>
                <li><a href="{% url 'action:question-list' %}">خانه</a></li>
                <li><a href="{% url 'action:question-list' %}">تگ ها</a></li>
                <li><a href="{% url 'action:question-list' %}">کاربران</a></li>
                <li><a href="{% url 'action:question-list' %}">سوالات</a></li>
            </ul>
        </nav>
    </div>
    {% block content %}
    {% endblock content %}
    <footer class="footer"
        style="width: 100%; position: fixed; bottom: 0; line-height: 60px; height:60px; background-color: #f5f5f5;">
        <p class="m-0 text-dark text-center ">Copyright &copy; SAD-7-GROUP</p>
    </footer>
</body>

</html>