{% extends 'base.html' %}
{% block title %}پرسش‌ها{% endblock %}
{% load static %}
<link rel="stylesheet" type="text/css" href={% static 'action/question_list.css' %}>
{% block content %}
    {% for question in object_list %}
    <div class="card shadow-sm">
        <div class="card-header rtl_text">
            <h5><a href="{% url 'action:question-detail' pk=question.id %}">{{ question.title }}</a></h5>
        </div>
        <div class="card-body">
            <div class="card-text rtl_text">
                <div class="row no-gutters">
                    <div class="col col-lg-2 center_text text-muted">
                        {{ question.score }} امتیاز
                        <br>
                        {{ question.answer_set.count }} جواب
                    </div>
                    <div class="row inner_row_1">
                        <div class="q_details">
                            {{ question.text|truncatechars:100|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
{% endblock %}
{% block sidebar %}
<p>پاسکال وبسایتی برای <br> پرسش و پاسخ به زبان <br> فارسی است</p>
{% endblock %}
