{% extends 'base.html' %}
{% block title %}ویرایش {{ question.title }}{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'common/custom_form.css' %}>
<div class="container">
    <form action="{% url 'action:question-edit' pk=question.id %}" method="POST" dir="rtl" class="rtl_text">
        {% csrf_token %}
        <div>
            {{form.title | as_crispy_field}}
        </div>
        <div>
            {{form.text | as_crispy_field | safe}}
            {{form.media}}
        </div>
        <div class="form-group">
            <label>برچسب‌ها (از خط تیره برای جدا کردن برچسب‌ها استفاده کنید)</label>
            <div>
                <input type="text" data-role="tagsinput" class="form-control" name="tags">
            </div>
        </div>
        <button class="btn btn-success">ثبت تغییرات</button>
    </form>
</div>
{% endblock %}