{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'action/question_detail.css' %}>
<div class="container">
    <div class="row main_row main_container">
        <div class="col col-8">
            <div class="row main_row">
                <h4 class="q_title rtl_text">{{ question.title }}</h4>
            </div>
            <div class="row main_row">
                <div class="col col-1 q_score">
                    {{ question.score }}
                </div>
                <div class="rtl_text" class="col col-7">
                    {{ question.text }}
                </div>
            </div>
            <div class="row main_row">
                {% for tag in question.tags.all %}
                <a href="#" class="q_tag">{{ tag }}</a>
                {% endfor %}
            </div>
            {% if question.user == request.user %}
            <div class="row main_row">
                <hr>
                <a class="btn btn-info col col-lg-2 col-md-1" href="{% url 'action:question-edit' pk=question.id %}">ویرایش</a>
                &nbsp;
                {% if can_delete %}
                <a class="btn btn-danger col col-lg-2 col-md-1" href="{% url 'action:question-delete' pk=question.id %}">حذف</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="col col-lg-4 d-none d-md-block sidebar">
            <p>پاسکال وبسایتی برای <br> پرسش و پاسخ به زبان <br> فارسی است</p>
        </div>
    </div>
</div>
{% endblock %}