{% extends 'base.html' %}
{% load jalali_tags %}
{% block js_code %}
<script>
    $("#q_vote_up").click(function () {
        {% if question.user != request.user and request.user.is_authenticated %}
            $.ajax({
                url: "{% url 'action:question-vote' pk=question.id %}",
                data: {
                    "vote": "1"
                },
                dataType: 'json',
                success: function (data) {
                    $("#q_score").text(data.score);
                }
            });
        {% else %}
            {% if request.user.is_authenticated %}
                alert("شما نمی‌توانید به سوال خودتان رای دهید!");
            {% else %}
                alert("برای رای دادن ابتدا وارد شوید.");
            {% endif %}
        {% endif %}
    });
    $("#q_vote_down").click(function () {
        {% if question.user != request.user and request.user.is_authenticated %}
            $.ajax({
                url: "{% url 'action:question-vote' pk=question.id %}",
                data: {
                    "vote": "-1"
                },
                dataType: 'json',
                success: function (data) {
                    $("#q_score").text(data.score);
                }
            });
        {% else %}
            {% if request.user.is_authenticated %}
                alert("شما نمی‌توانید به سوال خودتان رای دهید!");
            {% else %}
                alert("برای رای دادن ابتدا وارد شوید.");
            {% endif %}
        {% endif %}
    });
    $(function () {
        {% for answer in question.answer_set.all %}
        $("#ans_vote_up_{{answer.id}}").click(function () {
            {% if answer.user != request.user and request.user.is_authenticated %}
                $.ajax({
                    url: "{% url 'action:answer-vote' pk=answer.id %}",
                    data: {
                        'vote': '1'
                    },
                    dataType: 'json',
                    success: function (data) {
                        $("#ans_score_{{answer.id}}").text(data.score);
                    }
                });
            {% else %}
                {% if request.user.is_authenticated %}
                    alert("شما نمی‌توانید به پاسخ خودتان رای دهید!");
                {% else %}
                    alert("برای رای دادن ابتدا وارد شوید.");
                {% endif %}
            {% endif %}
        });
        $("#ans_vote_down_{{answer.id}}").click(function () {
            {% if answer.user != request.user and request.user.is_authenticated %}
            $.ajax({
                url: "{% url 'action:answer-vote' pk=answer.id %}",
                data: {
                    'vote': '-1'
                },
                dataType: 'json',
                success: function (data) {
                    $("#ans_score_{{answer.id}}").text(data.score);
                }
            }); 
            {% else %}
                {% if request.user.is_authenticated %}
                    alert("شما نمی‌توانید به پاسخ خودتان رای دهید!");
                {% else %}
                    alert("برای رای دادن ابتدا وارد شوید.");
                {% endif %}
            {% endif %}
        }); 
        {% endfor %}
    });
</script>
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'common/custom_form.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'action/question_detail.css' %}>
<div class="card shadow">
    <div class="card-header rtl_text">
        <h4>{{ question.title }}</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col col-1 q_score center_text">
                <button class="fa fa-plus btn btn-success score_stuff" id="q_vote_up"></button>
                <div style="font-size: 35px;" id="q_score"><span class="badge badge-info">{{ question.score }}</span></div>
                <button class="fa fa-minus btn btn-danger score_stuff" id="q_vote_down"></button>
            </div>
            <div class="col col-11 rtl_text main_text">
                {{ question.text }}
            </div>
        </div>
        <br>
        <div class="float-left">
                {% for tag in question.tags.all %}
                <a class="badge badge-pill badge-info" href="#" style="font-size: 15px; padding: 10px;">{{ tag }}</a>
                {% endfor %}
        </div>
    </div>
    {% if question.user == request.user %}
    <div class="card-footer">
        <a class="btn btn-info col col-lg-2 col-md-1"
            href="{% url 'action:question-edit' pk=question.id %}">ویرایش</a>
        &nbsp;
        {% if can_delete %}
        <a class="btn btn-danger col col-lg-2 col-md-1"
            href="{% url 'action:question-delete' pk=question.id %}">حذف</a>
        {% endif %}
    </div>
    {% endif %}
</div>
<br><br><br>
<div class="shadow-sm bg-light rounded card-header">
    <h3>پاسخ‌ها</h3>
</div>
{% for answer in question.answer_set.all %}
<div class="card shadow-sm">
    <div class="card-body">
        <div class="row card-text">
            <div class="col col-1 score_wrapper center_text">
                <button class="fa fa-plus btn btn-success score_stuff"
                    id="ans_vote_up_{{answer.id}}"></button>
                <div class="score_stuff" id="ans_score_{{answer.id}}">{{ answer.score }}</div>
                <button class="fa fa-minus btn btn-danger score_stuff"
                    id="ans_vote_down_{{answer.id}}"></button>
            </div>
            <div class="col col-11  main_text">
                <p class="rtl_text">{{ answer.text }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer float-left answer_footer">
        <a href="{% url 'user:profile' id=answer.user.id %}" class="font-weight-bold">{{ answer.user }}</a>
        <span class="text-secondary">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; در تاریخ 
        </span>
        <span class="text-secondary">{{answer.created_on|to_jalali:'%d %B %y ساعت  %H:%M'}}</span>
        <span class="text-secondary">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; آخرین ویرایش در
        </span>
        <span class="text-secondary">{{answer.last_updated_on|to_jalali:'%d %B %y ساعت %H:%M'}}</span>
    </div>
</div>
<br>
{% endfor %}
<br><br>
<div class="card shadow-sm">
    {% if request.user.is_authenticated %}
        <h3 class="card-header">
            پاسخ شما
        </h3>
        <form method="POST" dir="rtl">
            <div class="card-body rtl_text">
                {% csrf_token %}
                {{ form.text | as_crispy_field }}
            </div>
            <div class="card-footer">
                <button class="btn btn-success">ثبت پاسخ</button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}
{% block sidebar %}
<p>پاسکال وبسایتی برای پرسش و پاسخ به زبان فارسی است</p>
{% endblock %}