body {
  background-color: #eeeeee;
  margin-bottom: 60px;
}

.main_content_wrapper {
  padding-top: 60px;
}
@media (max-width: 979px) {
  .content_wrapper {
    padding-top: 100px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  vertical-align: text-bottom;
  width: 100%;
  text-align: center;
  bottom: 0;
  height: 60px;
}

.main_container {
  direction: rtl;
}

.rtl_text {
  text-align: right;
}

.center_text {
  text-align: center;
}

.content_right {
  width: 670px;
  /* margin-right: 20px; */
  float: right;
}

.content_left {
  width: 250px;
  float: left;
}

.sidebar {
  text-align: center;
}

.main_row {
  margin-top: 20px;
}

.inner_row_1 {
  margin: 5px;
}
