.main_container {
  direction: rtl;
}

.rtl_text {
  text-align: right;
}

.content_right {
  width: 670px;
  margin-right: 20px;
  float: right;
}

.content_left {
  width: 250px;
  float: left;
}

.sidebar {
  text-align: center;
}